

/* Uncomment below if images are way too big.
Selects all image tags and makes them 500px;
 */
img {
  width: 500px;
  margin: 20px;
  border: 2px solid;
}

.description{
max-width: 1300px;
}

.container {
  /* TODO add styles (hint: use flex!) https://www.w3schools.com/cssref/ */
  display: flex;
  max-width: 1300px;
}

.washingmachine {
  border: 12px solid;
}

.and-menu {
  display: flex;
}

a:link, a:visited {
  background-color: white;
  color: black;
  text-align: center;
  text-decoration-line: underline;
  text-decoration-style: dashed;
  display: inline-block;
}

a:hover, a:active {
  background-color: white;
}

.hwm-topbar {
  display: flex;
}