

/* Uncomment below if images are way too big.
Selects all image tags and makes them 500px;
 */
img {
  width: 500px;
  margin: 20px;
  border: 2px solid;
}

.description{
max-width: 1430px;
}

.container {
  /* TODO add styles (hint: use flex!) https://www.w3schools.com/cssref/ */
  display: flex;
  max-width: 1430px;
}

.washingmachine {
  border: 12px solid;
}

.and-menu {
  display: flex;
}

a:link, a:visited {
  background-color: rgb(54, 152, 255);
  color: black;
  padding: 5px 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}

a:hover, a:active {
  background-color: rgb(162, 211, 255);
}

.hwm-topbar {
  display: flex;
}